<!DOCTYPE html>
<html lang="pt-br">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>Tela Inicial</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <style>
            body {
                display: flex
                justify-content center;
                align-items: center;
                height: 100vh;
                background-color: #f8f9fa;
            }
            .container {
                text-align: center;
            }
            .btn {
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="mb-4">Bem vindo</h1>
            <p>Você já possui cadastro?</p>
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login</a>
            <p>Me cadastrar</p>
            <a href="{{ url_for('cadastro') }}" class="btn btn-secondary btn-lg">Cadastro</a>
        </div>
    </body>
</html>