<!DOCTYPE html>
<html>
    <head>
        <title>Dados da tabela</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Dados da tabela</h1>
        {% if dados %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    {% for coluna in colunas %}
                    <th>{{ coluna }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for linha in dados %}
                    <tr>
                        {% for item in linha %}
                        <td>{{ item }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhum dado encontrado</p>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>